body {
    margin: 10px;
    white-space: nowrap;
}

h1 {
    font-size: 15px;
}

#container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 5px;
}
